/* 全局样式表 */
html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 15px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-table {
  margin-top: 10px;
}

.el-pagination{
  margin-top: 15px;
}

.el-steps {
  line-height: 25px;
  margin: 15px 185px;
}

.el-step__title{
  font-size: 13px;
  padding-left: 60px;
}
.ql-toolbar{
  line-height: 20px;
  text-align: left;
}
.ql-editor{
  min-height: 300px;
}

